<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

  </head>
  <body>
    <div id="app">

      {% include header.html %}


      {{ content }}


      {% include footer.html %}
    </div>
    <!-- Js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="//unpkg.com/vue@2.3.3"></script>
    <script src="//unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
    <script src="{{ site.baseurl }}/js/plugins.js"></script>
    <script src="{{ site.baseurl }}/js/min/waypoints.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.counterup.js"></script>


    <script src="{{ site.baseurl }}/js/main.js"></script>
  </body>
</html>
